<div class="main-background form-class">
    <section class="main-section ">
        <div class="container form-container">
            <div class="form-header">
                <h5 class="title"> Transaction Details </h5>
            </div>
            <hr>
            <form [formGroup]="transactionForm" class="login-form">
                <div class="container form-field" formGroupName="newTransaction">
                    <div class="row inline-height">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <mat-form-field appearance="outline" class="input-full-width">
                                <mat-label>Reference</mat-label>
                                <input class="input-full-width" formControlName="reference" matInput autocomplete="off"
                                    maxlength="15">
                                <span matPrefix>CUS&nbsp;</span>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <mat-form-field appearance="outline" class="input-full-width">
                                <mat-label>Customer Number</mat-label>
                                <input class="input-full-width" matInput formControlName="customer_number"
                                    autocomplete="off" (keydown.enter)="$event.preventDefault()"
                                    (keyup)="fetchCustomerData()" maxlength="2">

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <mat-form-field appearance="outline" class="input-full-width">
                                <mat-label>Customer Name</mat-label>
                                <input class="input-full-width" matInput formControlName="customer_name"
                                    autocomplete="off">

                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <mat-form-field appearance="outline" class="input-full-width">
                                <mat-label>Address</mat-label>
                                <input class="input-full-width" matInput formControlName="address" autocomplete="off">

                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <mat-form-field appearance="outline" class="input-full-width">
                                <mat-label>Phone Number</mat-label>
                                <input class="input-full-width" only-digits matInput autocomplete="off"
                                    formControlName="phone">
                                <mat-error *ngFor="let validation of validationsMessages.phoneNumberInfo">
                                    <span
                                        *ngIf="objTransaction.get('phone').hasError(validation.type) || (objTransaction.get('phone').dirty || objTransaction.get('phone').touched)">{{validation.message}}
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <mat-form-field appearance="outline" class="input-full-width">
                                <mat-label>Transfer Amount</mat-label>
                                <input class="input-full-width" only-digits matInput formControlName="transfer_amount"
                                    autocomplete="off">
                                <mat-error *ngFor="let validation of validationsMessages.transferAmountInfo">
                                    <span
                                        *ngIf="objTransaction.get('transfer_amount').hasError(validation.type) || (objTransaction.get('transfer_amount').dirty || objTransaction.get('transfer_amount').touched)">{{validation.message}}
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <mat-form-field appearance="outline" class="input-full-width">
                                <mat-label>Transfer Currency</mat-label>
                                <mat-select formControlName="transfer_currency" autocomplete="off"
                                    name="transfer_currency">
                                    <mat-option *ngFor="let currency of currencyList" [value]="currency">
                                        {{currency}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <mat-form-field appearance="outline" class="input-full-width">
                                <mat-label>Beneficiary Bank</mat-label>
                                <input class="input-full-width" matInput autocomplete="off"
                                    formControlName="beneficiary_bank" only-alphabets>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <mat-form-field appearance="outline" class="input-full-width">
                                <mat-label>Beneficiary Account Number</mat-label>
                                <input class="input-full-width" matInput autocomplete="off"
                                    formControlName="beneficiary_accno">

                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <mat-form-field appearance="outline" class="input-full-width">
                                <mat-label>Payment Details</mat-label>
                                <input class="input-full-width" matInput only-alphabets autocomplete="off"
                                    formControlName="payment_details">

                            </mat-form-field>
                        </div>

                    </div>
                    
                    <div class="backBtn btn-container">
                        <button type="submit" class="submit-btn-form reset" (click)="back()">
                            Back
                        </button>
                        <div class="submit-btn">
                            <button type="submit" class="submit-btn-form mr-2" (click)="submitTransactionDetails()">
                                Submit
                            </button>
                            <button type="submit" class="submit-btn-form reset" (click)="reset()">
                                Reset
                            </button>
    
                        </div>
                    </div>

                </div>
            </form>