<header class="header-section">
  <nav class="navbar navbar-expand-sm navbar-dark navbar-inverse header-nav" id="navbar">
    <ul class="nav navbar-nav float-right menu-list">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle welcome-text" id="navbardrop">
          <span class="user-image">
            <img src="assets/images/user-icon.png" height="28px" width="28px" alt="user image" />
          </span>
          <span class="user-name-text">Welcome</span>
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" data-toggle="tooltip" title="Logout" (click)="logout()"><i
            class="icon logout-icon"></i></a>
      </li>
    </ul>
  </nav>
</header>