.footer-section{
    padding: 10px 15px;
    text-align: center;
    box-shadow: 0 0 2px #ccc;
    background: #fff;
    font-size: 14px;

    position: fixed; /* add */
    bottom: 0px;  /* add */
    text-align: center;
    width: 100%;
    z-index: 99;

    p{
      margin: 0;
    }
   
  }

  