<div class="main-background">
    <div class="adminDashWrap">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-5 col-xl-5 pointerClass new" (click)="newTransaction()">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block">
                            <img src="assets/images/download.jpg" />
                            <h4 class="m-b-20 m-t-8">New Transaction </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xl-5 pointerClass view" (click)="viewAllTransaction()">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block">
                            <img src="assets/images/executive.png" />
                            <h4 class="m-b-20 m-t-8">View Submitted Transactions</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>